<div class="my-3">
  <div class="container col-6">

    <div class="text-center">
      <h3>Movies in list</h3>
      <h1> <%= @list.name %> </h1>
      <div>
        <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    </div>

    <div class="text-center">
      <%= link_to '<< Volver', root_path %>
    </div>

    <div class="container p-3">
      <% @list.movies.each do |movie| %>
        <div class="card d-flex inline-block m-3 p-3">
          <img src="<%= movie.poster_url %>" alt="Poster for <%= movie.title %>" class="mb-3" height="30%" width="30%">
          <h2> <%= movie.title  %></h2>
          <p> <%= movie.overview  %></p>
          <p> <%= movie.rating  %></p>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= link_to '<< Volver', root_path %>
    </div>
  </div>
</div>
